
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Майстер</th>
      <th scope="col">Професійність</th>
      <th scope="col">Час роботи</th>
    </tr>
  </thead>
 


<%@barbers.each do |row|%>
<tbody>
    <tr>
      <th scope="row"><%=row['id']%></th>
      <td><a href="/barber/<%=row['id']%>"><%=row['name']%></a></td>
      <td><%=row['type_prof']%></td>
      <td><%=row['time_work']%></td>
    </tr>
<%end%>
</tbody>
</table>